@import "../parameter";
@import "./textField";

.j1sj1d1qs {
  transform: translate(0, 1.5px) scale(0.75);
}

label + .j5t5fws {
  margin-top: 12px;
}

.j77gjdk {
  position: relative;
}

.j4ap7vg.j4ap7vgd {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding: 6px 0 7px;
}
