@import "../parameter";
@import "./textField";

.j1azw8op.j1sj1d1q {
  transform: translate(14px, -6px) scale(0.75);
}

.j1azw8op {
  z-index: 1;
  pointer-events: none;
}

.j7v6wc2 {
  position: relative;
}

.j1p5k45xt {
  padding: 0px;
  box-sizing: border-box;
}

.j1m8k26r {
  border-radius: 4px;
  padding: 0;
}

.j1pa5zxfe {
  resize: none;
  padding: 18.5px 14px;
}
