@import "../parameter";

.jvpp5ov {
  position: relative;
}

.j1a697ls {
  padding-right: 16px;
}

.j10qoe32 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.jn23b2ny {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.ja16k5a {
  color: $White;
  background-color: #bdbdbd;
}

.j4f2n9i {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.j9018ah {
  flex: 1 1 auto;
  padding: 0 16px;
  min-width: 0;
}

.j1pzzryc {
  color: $Black87;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.j59oks2 {
  margin: 0;
  display: block;
}

.jt151jr {
  top: 50%;
  right: 4px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
