.joig26a {
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.j1g19fqe {
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
}

.j189b1ed {
  top: 0;
  left: 0;
  position: absolute;
}

.j12la19 {
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.j1sj1d1q {
  transform-origin: top left;
}

.j1sj1d1qso {
  //transform: translate(0, 1.5px) scale(0.75);
  transform: translate(14px, -6px) scale(0.75);
}

.j1g6ef6m {
  font-size: 18px;
}

label + .j1hdgrm8 {
  margin-top: 12px;
}

.jbr6nlo {
  color: rgba(0,0,0,0.87);
  cursor: text;
  display: inline-flex;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.1875em;
  align-items: center;
}

.je77vcb {
  width: 100%;
  position: relative;
}

.j1j3s8fr {
  width: auto;
  height: auto;
  overflow: hidden;
  min-height: 1.1875em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.j1blqbob {
  width: calc(100% - 32px);
  height: 1.1875em;
  cursor: pointer;
  user-select: none;
  padding-right: 32px;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.j4ap7vg {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  margin: 0;
  display: block;
  min-width: 0;
  box-sizing: content-box;
  background: none;
  -webkit-tap-highlight-color: $transparent;

  &:focus {
    outline: 0;
  }
}

.selectCursor {
  cursor: pointer;
}

.j1efw385 {
  top: calc(50% - 12px);
  right: 0px;
  position: absolute;
  pointer-events: none;
}

.j2dfb39 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  flex-shrink: 0;
}
