@import "../parameter";

.jss232 {
  top: 64px;
}

.jss100vh {
  height: 100vh;
}

.jss231 {
  flex: 0 0 auto;
}

.jss237 {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.jss233 {
  left: 0;
  right: auto;
}

.jss232 {
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  z-index: 1200;
  outline: none;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

.jss109 {
  box-shadow: none;
}

.jss107 {
  background-color: $White;
}
