@import "../parameter";

@media (max-width: 959.95px) {
  .jp78c5zs {
    flex-grow: 1;
  }
}

@media (min-width: 960px) {
  .jp78c5zs {
    min-width: 288px;
    max-width: 568px;
    border-radius: 4px;
  }
}

.j1mqxag8 {
  z-index: 1400;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.j1n0vc23s {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

.j1gd6a31 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.jp78c5zs {
  display: flex;
  padding: 6px 24px;
  flex-wrap: wrap;
  align-items: center;
}

.j18zhp3j {
  margin: 8px;
}

.j3bf3oj {
  padding: 8px 0px;
}

.j1ptu8o8 {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 24px;
  margin-right: -8px;
}
