@import "../parameter";

.j1j3r21x:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.j1nljlif {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ja472eb {
  position: relative;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.j1j3r21x {
  border-radius: 0;
}

.j1pb73ym {
  height: 0;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jzlkjnt {
  display: flex;
}

.j12m3ddi {
  width: 100%;
}

.jkmh82r {
  display: flex;
  padding: 8px 24px 24px;
}
