@import "../parameter";

.j16fb98s {
  flex: 0 0 auto;
  margin: 0;
  padding: 24px 24px 20px;
}

.j1ylkzii {
  color: $Black87;
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.j59oks2 {
  margin: 0;
  display: block;
}
