@import "../parameter";

.j1ujprzo {
  line-height: 1.5;
}

.j1dp773x {
  color: $Black87;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.j59oks2 {
  margin: 0;
  display: block;
}
