@import "../parameter";

.jupvbsj {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1300;
  position: fixed;
}

.j1hwasmh {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  touch-action: none;
  -webkit-tap-highlight-color: $transparent;
}

.jlbc39s {
  height: 100%;
  outline: none;
}

.j1olfzzh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.j1iocy8x {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.ji1kkbr {
  border-radius: 4px;
}

.j116tjkx {
  margin: 48px;
  display: flex;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
}

.j1bnredm {
  flex: 0 1 auto;
  max-width: calc(100% - 96px);
}

.jrkcwvt {
  min-width: 0px;
  width: 600px;
  max-width: 600px;
}
