@import "../parameter";
@import "dialog";

.jnw24a9 {
  width: 100%;
  margin: 0;
  height: 100%;
  max-width: 100%;
  max-height: none;
  border-radius: 0;
}

.j1bnredml {
  flex: 0 1 auto;
}

.j116tjkxl {
  display: flex;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
}
