@import "../parameter";

.j1a697ls {
  padding-right: 16px;
}

.j1nroktp {
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jn23b2n {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  justify-content: flex-start;
  text-decoration: none;
}

.jr0u89wl {
  color: inherit;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: $transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: $transparent;
}

.j1xd9iw9 {
  color: $Black54;
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 16px;
}

.j9018ah {
  flex: 1 1 auto;
  padding: 0 16px;
  min-width: 0;

  &:first-child {
    padding-left: 0;
  }
}

.j1pzzryc {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.j59oks2 {
  margin: 0;
  display: block;
}

.jb3bkca {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}
