.jasti5v {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.jmxzedj {
  flex-direction: column;
}

.j1qb8kah {
  flex-direction: row-reverse;
}

.jlecjg4 {
  flex-direction: column-reverse;
}

.jrz2a3nstart {
  justify-content: flex-start;
}

.jrz2a3n {
  justify-content: center;
}

.j1dgalzs {
  justify-content: flex-end;
}

.jf14myd {
  justify-content: space-between;
}

.j1qyqqgx {
  justify-content: space-around;
}

.j1jj17ug {
  justify-content: space-evenly;
}

.j1if8dd6 {
  align-items: flex-start;
}

.jwwules {
  align-items: center;
}

.j239l07 {
  align-items: flex-end;
}

.j4d0665 {
  align-items: baseline;
}