@import "../OutSide/outside";

@media (max-width: 1099.95px) {
  .ftmainlayout {
    left: 32px;
  }
}

@media (min-width: 1100px) {
  .ftmainlayout {
    left: 320px;
  }
}

.ftmainlayout {
  right: 10px;
}