.j6v5fg1 {
  display: inline-block;
  line-height: 1;
}

.jwtxf5o {
  margin: 16px;
}

.jovpot2 {
  stroke: currentColor;
}

.jsrd2tl {
  height: 4px;
  position: relative;
  overflow: hidden;
}

.j128yqez {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transform-origin: left;
}
