@media (max-width: 959.95px) {
  .tubelayout {
    left: 0;
  }

  .bottomnavigationFixed {
    left: 0;
  }
}

@media (min-width: 960px) {
  .tubelayout {
    left: 72px;
  }

  .bottomnavigationFixed {
    left: 72px;
  }
}