@import "../parameter";

.j9la4jl {
  color: $Black87;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background-color: $Black08;
  }
}

.jr0u89w {
  border: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: $transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: $transparent;
}

.j16xd9wg {
  margin: 8px;
}

.jpyw0mp {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.j1hrif9t {
  padding: 6px 8px;
}

.jr0u89w.j5jkmku {
  padding: 5px 16px;
  border: 1px solid $Black23;
}

.jkjbjgt {
  padding: 4px 8px;
  font-size: 0.8125rem;
}

.jkjbjgm {
  padding: 6px 16px;
  font-size: 0.875rem;
}

.j1h1ts3f {
  padding: 8px 24px;
  font-size: 0.9375rem;
}

.jlyilep {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.jb3bkca {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}
