@keyframes blueWaveAnimation {
  0% {
    background-color: $lightBlud80;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $lightBlue60;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes blueWaveAnimation {
  0% {
    background-color: $lightBlud80;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $lightBlue60;
    width: 100%;
    height: 100%;
  }
}

@-moz-keyframes blueWaveAnimation {
  0% {
    background-color: $lightBlud80;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $lightBlue60;
    width: 100%;
    height: 100%;
  }
}

@-o-keyframes blueWaveAnimation {
  0% {
    background-color: $lightBlud80;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $lightBlue60;
    width: 100%;
    height: 100%;
  }
}

@keyframes grayWaveAnimation {
  0% {
    background-color: $Gray21180;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $Gray19260;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes grayWaveAnimation {
  0% {
    background-color: $Gray21180;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $Gray19260;
    width: 100%;
    height: 100%;
  }
}

@-moz-keyframes grayWaveAnimation {
  0% {
    background-color: $Gray21180;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $Gray19260;
    width: 100%;
    height: 100%;
  }
}

@-o-keyframes grayWaveAnimation {
  0% {
    background-color: $Gray21180;
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: $Gray19260;
    width: 100%;
    height: 100%;
  }
}

@keyframes pinkWaveAnimation {
  0% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes pinkWaveAnimation {
  0% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 100%;
    height: 100%;
  }
}

@-moz-keyframes pinkWaveAnimation {
  0% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 100%;
    height: 100%;
  }
}

@-o-keyframes pinkWaveAnimation {
  0% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(254, 119, 115, 0.6);
    width: 100%;
    height: 100%;
  }
}

@keyframes facebookWaveAnimation {
  0% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes facebookWaveAnimation {
  0% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 100%;
    height: 100%;
  }
}

@-moz-keyframes facebookWaveAnimation {
  0% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 100%;
    height: 100%;
  }
}

@-o-keyframes facebookWaveAnimation {
  0% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 0px;
    height: 0px;
  }

  100% {
    background-color: rgba(59, 89, 152, 0.6);
    width: 100%;
    height: 100%;
  }
}
