$transparent: transparent;
$White: rgba(255,255,255,1);
$Black: rgba(0,0,0,1);
$Black08: rgba(0,0,0,0.08);
$Black12: rgba(0, 0, 0, 0.12);
$Black23: rgba(0, 0, 0, 0.23);
$Black26: rgba(0,0,0,0.26);
$Black40: rgba(0,0,0,0.4);
$Black54: rgba(0, 0, 0, 0.54);
$Black87: rgba(0,0,0,0.87);
$lightBlud80: rgba(135, 206, 235, 0.8);
$lightBlue60: rgba(135, 206, 250, 0.6);
$Gray16960: rgba(169, 169, 169, 0.6);
$Gray19260: rgba(192, 192, 192, 0.6);
$Gray21180: rgba(211, 211, 211, 0.8);
$Red80: rgba(225, 0, 0, 0.8);
$Red56: rgba(225, 0, 0, 0.56);
