@import "../parameter";

.jcqtdg2 {
  display: table-cell;
  padding: 4px 56px 4px 24px;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 244, 1);
  vertical-align: inherit;
}

.jhjsvkq {
  font-size: 0.75rem;
  font-weight: 500;
}
